@import './base.css';

main {
  padding: 32px;
}

h1 {
  font-size: 9em;
  font-family: 'Josefin Sans';
  display: inline-block;
  line-height: 1.1em;
}

p,
a {
  font-size: 1.6em;
  font-family: 'Josefin Sans';
  width: 70vw;
}

.red {
  color: red;
}

.divider {
  height: 0px;
  border-top: 3px solid #8a8a8a;
  width: 70vw;
  margin: 8px 0 8px 0;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 5em;
    line-height: 1.1em;
  }

  p {
    font-size: 1.6em;
    width: 80vw;
  }

  .router-link-exact-active {
    border-width: 2px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }

  p,
  a {
    font-size: 0.9em;
  }
}
